<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it)</title>
    <meta charset ="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images\Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><img src="../images\Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/GIT.html">GIT</a></li>
                            <li><a href="../views/VSCode.html">VSCode</a></li>
                            <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                            <li class="active"><a href="">HTML tags</a></li>
                            <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                    <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                    <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div id="wrap" class="margin-top">
        <div id="main">
         <h1>HTML elementi</h1>
         <p>
             <ul>
                 <li>konteineris < div></li>
                 <li>virsraksts < h1> < h2> < h3> < h4> < h5> < h6></h1></li>
             </ul>
             <ol>
                 <li>Nenumurets saraksts < ul> </li>
                 <li>Saraksta objekts < li> </li>
             </ol>
         </p>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis vulputate magna, in ultrices risus egestas quis. Integer porta placerat euismod. Etiam ac lectus varius, molestie tortor at, finibus sapien. Ut ultrices dapibus sapien a pretium. Proin condimentum bibendum turpis, eget sollicitudin elit imperdiet et. Suspendisse sollicitudin leo lobortis viverra pharetra. Fusce iaculis mi eu convallis venenatis. Praesent blandit elementum nunc ut facilisis. Nunc non sapien elementum, consequat arcu a, interdum ante. Cras iaculis lectus enim, eget posuere libero efficitur eget. Nulla facilisi. Etiam vestibulum congue porta.</p>
        <p>Nunc lacinia mi quis felis efficitur sollicitudin. Mauris sed quam posuere, luctus nulla non, venenatis lacus. Pellentesque mattis imperdiet libero, id scelerisque nulla consequat nec. Pellentesque in euismod leo, ut ullamcorper dolor. Ut leo ligula, aliquet id nisi ut, sollicitudin dapibus lacus. Nullam mauris lacus, venenatis at orci eget, aliquet tristique metus. Praesent tincidunt odio ligula, in rhoncus sem tincidunt sed.</p>
        <p>Aliquam volutpat, justo vel imperdiet interdum, ante risus lacinia eros, sed ullamcorper lectus nibh eget sapien. Quisque imperdiet mattis purus, ut tincidunt sem tincidunt et. Pellentesque ut dapibus nunc. Pellentesque pulvinar ornare tincidunt. Fusce finibus rhoncus convallis. Suspendisse interdum quis tortor vel euismod. Morbi ac ante erat. Aenean vel venenatis diam, ut malesuada nulla. Suspendisse metus neque, sagittis vel rhoncus vel, efficitur non nisl. Proin dolor ex, sodales eu nunc ac, volutpat suscipit eros. Nam scelerisque lectus sit amet turpis sagittis mollis.</p>
    <p>Etiam posuere ipsum urna, ac porta turpis vulputate eget. Mauris ullamcorper lobortis eros id tempor. Pellentesque blandit erat imperdiet hendrerit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas a lobortis mi. Sed rhoncus posuere efficitur. Nulla lobortis faucibus scelerisque. Proin ac laoreet augue. Integer laoreet felis ut hendrerit venenatis. Donec placerat et lectus quis tempor. Cras dolor diam, vestibulum a sodales sed, vehicula vel massa. Aenean aliquet interdum volutpat. Quisque neque massa, gravida id odio quis, ornare sollicitudin erat.</p>
    <p>Donec augue elit, viverra et auctor lacinia, interdum vitae mauris. In molestie tortor eget sapien mollis, in scelerisque lorem suscipit. Vestibulum bibendum erat ac fringilla cursus. Sed feugiat sodales elit sed maximus. Vivamus ultricies convallis dolor ac suscipit. Nunc faucibus orci sed sem aliquet, ac laoreet dui porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in tristique orci. Nulla ullamcorper lorem velit, sit amet auctor risus ultrices sit amet. Praesent auctor lobortis libero, nec viverra leo tempus non. Praesent in lorem sodales, consequat tellus et, pellentesque velit. Praesent consequat vestibulum imperdiet.</p>
<p>Šodien mēs apgūvām HTML.<br>
Vairāk informācijas ir 
<a href="https://www.w3schools.com/html/default.asp">w3schools </a>mājaslapā.</p>
</div> 
    </div>

</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda: 07</span>
            <br>
            <span>Īpašnieks: Tatjana Strigaļova</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="../https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>